@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  background-position: bottom;
  background-size:cover;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Amatic SC', cursive;
}

main {
  flex-grow: 1;
}

.text-shadow {
  filter: drop-shadow(2px 2px 5px black );
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.quote {
  display: block;
}

.quote-source {
  color: transparent;
  transition: all 1s ease;
}

.quote:hover ~ .quote-source{
  color: var(--light);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: all 1s ease;
}