@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  background-position: bottom;
  background-size:cover;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Amatic SC', cursive;
}

main {
  flex-grow: 1;
}

.drop-shadow {
  filter: drop-shadow(2px 2px 2px black );
}

.quote {
  display: block;
}

.quote-source {
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.quote:hover ~ .quote-source{
  visibility: visible;
  height: auto;
  width: auto;
  opacity: 1;
}